<mat-toolbar-row>
    <div style="height: 30pc;">
        <b style="padding-left: 20px; font-size: 30px; font-family: monda,sans-serif;"> 
            Top Categaries
        </b>
    </div>
    <div class="container">
        <mat-grid-list cols="5" rowHeight="10pc" gutterSize="10px;" style="margin-top: 2pc;
        padding-bottom: 35pc;">
            <mat-grid-tile style=" border: 1px solid; height: 155.8438px; width: 149.797px;">
                <a routerLink="/"><img src="assets\images\category\cloth.jpg"
                        style="height: 90px; width: 100px; padding-bottom: 1pc;">
                </a>
                <!-- <mat-card-content style="height: 28px; width: 127.797px; text-align: center;">
                    <P>Clothing</P>
                </mat-card-content>     -->
            </mat-grid-tile>
            <mat-grid-tile style=" border: 1px solid; height: 155.8438px; width: 149.797px;">
                <a routerLink="/"><img src="assets\images\category\shoe.jpg"
                        style="height: 90px; width: 100px; padding-bottom: 1pc;">
                </a>
                <!-- <mat-card-content>
                    <p>Shoe</p>
                </mat-card-content> -->
            </mat-grid-tile>
            <mat-grid-tile style=" border: 1px solid; height: 155.8438px; width: 149.797px;">
                <a routerLink="/"><img src="assets\images\category\glasses.jpg"
                        style="height: 90px; width: 100px; padding-bottom: 1pc;">
                </a>
                <!-- <mat-card-content>
                    <p>Glasses</p>
                </mat-card-content> -->
            </mat-grid-tile>
            <mat-grid-tile style=" border: 1px solid; height: 155.8438px; width: 149.797px; padding-bottom: 10px;">
                <a routerLink="/"><img src="assets\images\category\clothing.jpg"
                        style="height: 90px; width: 100px; padding-bottom: 1pc;">
                </a>
                <!-- <mat-card-content>
                    <p>Clothing</p>
                </mat-card-content> -->
            </mat-grid-tile>
            <mat-grid-tile style=" border: 1px solid; height: 155.8438px; width: 149.797px;">
                <a routerLink="/"><img src="assets\images\category\glasses1.jpg"
                        style="height: 90px; width: 100px; padding-bottom: 1pc;">
                </a>
                <!-- <mat-card-content>
                    <p>Glasses</p>
                </mat-card-content> -->
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</mat-toolbar-row>