

<mat-toolbar color="primary" class="navbar1">
    <mat-toolbar-row>
        <span class="menu-spacer"></span>
        <div class="nav1">
            <span><a mat-button routerLink="/return">Returns and Exchanges</a></span>
            <span><a mat-button routerLink="/shipping">Shipping and Delivery</a></span>
            <span><a mat-button routerLink="/terms">Terms and Conditions</a></span>
            <span><a mat-button routerLink="/privacy">Privacy and Policies</a></span>
            <span><a mat-button routerLink="/track">Track Your Order</a></span>
        </div>
    </mat-toolbar-row>
</mat-toolbar>


<mat-toolbar class="nb2">
    <!-- <mat-toolbar-row>  -->
    <div class="logo">
       <a routerLink="/home"><img src="assets/images/logo/logo.png" height=50px; width=200px;></a>
    </div>
    <div class="nav2">
        <span> <a mat-button routerLink='/home'> Home </a> </span>
        <span><a mat-button routerLink='/product'> Product </a></span>
        <span> <a mat-button routerLink='/brand'> Brand </a></span>
        <span> <a mat-button routerLink='/contact'> Contact </a></span>
        <!-- <a mat-button [routerLink]='/activities'> Activities </a>
            <a mat-button [routerLink]='/create-activity'> Create Activity </a> -->
    </div>
    <!-- </mat-toolbar-row> -->
</mat-toolbar>


<mat-toolbar color="primary" class="navbar3">
    <div>
        <mat-form-field floatLabel="never">
            <input matInput placeholder="Search">
        </mat-form-field>
        <span class="material-icons"> search </span>


    </div>
    <div class="nav3">
        
        <a mat-button routerLink="/user"><span class="material-icons">person</span></a>
        <a mat-button routerLink='/'><span class="material-icons">sync</span></a>
        <a mat-button routerLink='/'><span class="material-icons">favorite_border </span></a>
        <a mat-button routerLink='/'><span class="material-icons">shopping_bag  </span></a>

    </div>
</mat-toolbar>
