



.nav1{
    padding-left: 3rem;
    /* background-color: #5C4DE0;
    color:#555555; */
}
.nb2
{
    justify-content: space-between;
    padding-bottom: 20px;
    padding-top: 30px;
}
.nav2 span{
    padding-right: 1rem; 
    
}
.nav2{
    margin-right: 100px;
    
}
.nav2 a{ 
    font-size: 15px;
}
.logo{
    padding-left: 3rem;
}
.navbar3{
    justify-content: space-between;
    
}
.nav3 span{
    padding-right: 1rem; 
    
}
.nav3{
    margin-right: 100px;
    
}
.nav3 a{ 
    font-size: 15px;
}
