<footer class="bg-3">
    <div class="container">
        <div class="footer-bottom">
            <div class="footer-widget widget-about">
                <div class="logo">
                    <a routerLink="/home">
                        <img class="w-100 h-auto" src="assets/images/logo/logo.png" alt="" width="150px" height="150">
                    </a>
                </div>
                <p>Visermart brings you tons of products in over 20+ different categories, including men's fashion,
                    women's fashion, baby fashion, and more.</p>

            </div>
            <div class="footer-widget widget-link">
                <h5 class="title cl-white">Pages</h5>
                <ul>
                    <li><a routerLink="/return">Returns and Exchanges</a></li>
                    <li><a routerLink="/shipping">Shipping and Delivery</a></li>
                    <li><a routerLink="/terms">Terms and Conditions</a></li>
                    <li><a routerLink="/privacy">Privacy and Policies</a></li>
                </ul>
            </div>
            <div class="footer-widget widget-link">
                <h5 class="title cl-white">Useful link</h5>
                <ul>
                    <li><a routerLink="/aboutus">About Us</a></li>
                    <li><a routerLink="/contact">Contact Us</a></li>
                    <li><a routerLink="/faq">FAQ</a></li>
                    <li><a routerLink="/track">Track Your Order</a></li>
                </ul>
            </div>

            <div class="footer-widget widget-link widget-contact">
                <h5 class="title cl-white">Contact Us</h5>
                <ul>
                    <li>
                        <i class="las la-map-marker"></i>
                        Visermart, House 60, Road #5555
                    </li>
                    <li>
                        <a href="Tel:+ (001) 001 001"><i class="las la-phone"></i>+ (001) 001 001</a>
                    </li>
                    <li>
                        <a href="https://script.viserlab.com/cdn-cgi/l/email-protection#403425333400332934256e232f2d"><i
                                class="las la-envelope"></i><span class="__cf_email__"
                                data-cfemail="4c38293f380c3f253829622f2321">[email&#160;protected]</span></a>
                    </li>
                </ul>



            </div>


        </div>
        <div class="footer-copyright">
            <div class="copyright-area d-flex flex-wrap align-items-center justify-content-between">
                <div class="left">
                    <p>Copyright © visermart 2021. All rights reserved.</p>
                </div>
                <ul class="social-icons">

                    <li>
                        <a href="https://www.linkedin.com/">
                            <i class="fab fa-linkedin-in"></i> </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/">
                            <i class="fab fa-instagram"></i> </a>
                    </li>
                    <li>
                        -
                        <a href="https://www.twitter.com/">
                            <i class="fab fa-twitter"></i> </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/">
                            <i class="fab fa-facebook-f"></i> </a>
                    </li>
                </ul>
                <div class="right">
                    <img src="assets/images/frontend/footer/5fe717202e4f91608980256.png" alt="footer">
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section Ends Here -->