<div class="content" style="padding-left:60px; padding-right: 30px; height: 448.469px; width: 1200px; max-width: 1200px;">
    <b>
        <h1 style="height: 39px; width: 342.766px;">Our Feture Product</h1>
    </b>
    <div fxLayout=" row-wrap" fxLayoutGap="20px grid" >
        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%"  style="height: 357.469px; width: 270px; border: 1px; padding: 15px 15px 15px 15px" >
            <mat-card class="mat-elevation-z4">
                <mat-card-header>
                    <!-- <mat-card-title> </mat-card-title> -->
                </mat-card-header>
                <img mat-card-image src="assets\images\product\sliper.jpg" style="height: 259.469px;
                width: 238px;">
                <mat-card-content>
                    <p>Gucci Sandals for woman</p>
                </mat-card-content>
                <mat-card-actions>
                    <div class="ratings-area justify-content-between">
                        <div class="ratings">
                            <i class="lar la-star"></i><i class="lar la-star"></i>
                            <i class="lar la-star"></i>
                            <i class="lar la-star"></i><i class="lar la-star"></i>
                        </div>

                        <span class="ml-2 mr-auto">(0)</span>
                        <div class="price">
                            $830.00
                        </div>
                    </div>
                </mat-card-actions>
            </mat-card>
        </div>

        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" style="height: 357.469px; width: 270px; border: 1px; padding: 15px 15px 15px 15px;"  >
            <mat-card class="mat-elevation-z4">
                <mat-card-header>
                    <mat-card-title></mat-card-title>
                </mat-card-header>
                <img mat-card-image src="assets\images\product\watch.jpg" >
                <mat-card-content>
                    <p>Regulator Automatic Blue Slate</p>
                </mat-card-content>
                <mat-card-actions>
                    <div class="ratings-area justify-content-between">
                        <div class="ratings">
                            <i class="lar la-star"></i><i class="lar la-star"></i>
                            <i class="lar la-star"></i><i class="lar la-star">
                            </i><i class="lar la-star"></i>
                        </div>
                        <span class="ml-2 mr-auto">(0)</span>
                        <div class="price">
                            $499.00
                        </div>
                    </div>
                </mat-card-actions>
            </mat-card>
        </div>
        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" style="height: 357.469px; width: 270px; border: 1px; padding: 15px 15px 15px 15px">
            <mat-card class="mat-elevation-z4">
                <mat-card-header>
                    <mat-card-title> </mat-card-title>
                </mat-card-header>
                <img mat-card-image src="assets\images\product\glass02.jpg" >

                <mat-card-content>
                    <p>Tomford Sunglass</p>
                </mat-card-content>
                <div class="product-content">
                    <div class="product-before-content">
                        <!-- <h6 class="title">
                            <a href="https://script.viserlab.com/visermart/product/detail/19/tomford-sunglass">Tomford Sunglass</a>
                        </h6> -->
                        <div class="ratings-area justify-content-between">
                            <div class="ratings">
                                <i class="lar la-star"></i><i class="lar la-star">
                                </i><i class="lar la-star"></i>
                                <i class="lar la-star"></i><i class="lar la-star"></i>
                            </div>

                            <span class="ml-2 mr-auto">(0)</span>
                            <div class="price">
                                $120.00
                            </div>
                        </div>
                    </div>
                    <!-- <div class="product-after-content">
                        <button data-product="19" class="cmn-btn btn-sm quick-view-btn">
                            View                                </button>
                        <div class="price">$120.00</div>
                    </div> -->
                </div>
            </mat-card>
        </div>

        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" style="height: 357.469px; width: 270px; border: 1px; padding: 15px 15px 15px 15px">
            <mat-card class="mat-elevation-z4">
                <mat-card-header>
                    <mat-card-title></mat-card-title>
                </mat-card-header>
                <img mat-card-image src="assets\images\product\pink.jpg">
                <mat-card-content>
                    <p>Puma Pink ladies dresses</p>
                </mat-card-content>
                <mat-card-actions>
                    <span class="ml-2 mr-auto">(1)</span>
                    <div class="price">
                        $22.65
                        <del>45.30</del>
                    </div>
                    <!-- </div>  -->
                        <!-- <div class="product-after-content">
                                    <button class="btn btn-primary" data-product="18" class="cmn-btn btn-sm quick-view-btn">View</button> -->
                        <!-- <div class="price">$22.65<del>45.30</del>
                            </div> -->
                    <!-- </div> -->
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>