
<mat-toolbar-row style="padding-top: 28pc;">
    <div style="width: 25pc;">
        <mat-grid-list cols="5pc" rowHeight="50pc" style="background-color:white">
            <mat-grid-tile>
                <mat-list>
                    <mat-list-item><a>
                            <span class="material-icons">
                                emoji_people
                            </span> Men's Fashion</a></mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <span class="material-icons">
                            self_improvement
                        </span>Women's Fashion
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <span class="material-icons">
                            cable
                        </span>Electronics
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <span class="material-icons">
                            home
                        </span>Home Appliances
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <span class="material-icons">
                            directions_car
                        </span>Automobile & Motorcycle
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <span class="material-icons">
                            sports_baseball
                        </span>Sports & Outdoors
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <span class="material-icons">
                            child_care
                        </span>Baby's Fashion
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <span class="material-icons">
                            toys
                        </span>Kids & Toys
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <span class="material-icons">
                            health_and_safety
                        </span>Health & Beauty
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <span class="material-icons">
                            spa
                        </span>Skin & Hair Solution
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <span class="material-icons">
                            redeem
                        </span>Gift Items
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <span class="material-icons">
                            masks
                        </span>Covid-19 Protection
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <span class="material-icons">
                            card_giftcard
                        </span>Gift Corner
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <span class="material-icons">
                            favorite_border
                        </span>Weddings & Events
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <span class="material-icons">
                            wc
                        </span>Novelty & Special Use
                    </mat-list-item>
                </mat-list>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    <div style="width: 50pc;">
        <mat-grid-list rowHeight="50pc" cols="15pc">
            <app-slider></app-slider>
        </mat-grid-list>
        <mat-toolbar class="s-tool">
            <mat-toolbar-row>
                <!-- <div style="height: 30pc;">
                    <b style="padding-left: 20px; font-size: 30px; font-family: monda,sans-serif;"> Top Categaries</b>

                    <span style="padding : 0px,0px,10px,40px;">
                        <button mat-raised-button color="primary">View All</button></span>


                </div> -->
                <div class="container">
                    <mat-grid-list cols="5" rowHeight="10pc" gutterSize="10px;" style="margin-top: 2pc;
                    padding-bottom: 35pc; ;"  >
                        <mat-grid-tile style=" border: 1px solid; height: 155.8438px; width: 149.797px;">
                            
                            <a routerLink="/"><img src="assets\images\category\cloth.jpg"
                                style="height: 90px; width: 100px; padding-bottom: 1pc;">
                            </a>
                            <!-- <mat-card-content style="height: 28px; width: 127.797px; text-align: center;">
                                <P>Clothing</P>
                            </mat-card-content>     -->
                        </mat-grid-tile>
                        <mat-grid-tile style=" border: 1px solid; height: 155.8438px; width: 149.797px;">
                            <a routerLink="/"><img src="assets\images\category\shoe.jpg"
                                style="height: 90px; width: 100px; padding-bottom: 1pc;">
                            </a>
                            <!-- <mat-card-content>
                                <p>Shoe</p>
                            </mat-card-content> -->
                        </mat-grid-tile>
                        <mat-grid-tile style=" border: 1px solid; height: 155.8438px; width: 149.797px;">
                            <a routerLink="/"><img src="assets\images\category\glasses.jpg" 
                                style="height: 90px; width: 100px; padding-bottom: 1pc;">
                            </a>
                            <!-- <mat-card-content>
                                <p>Glasses</p>
                            </mat-card-content> -->
                        </mat-grid-tile>
                        <mat-grid-tile style=" border: 1px solid; height: 155.8438px; width: 149.797px; padding-bottom: 10px;">
                            <a routerLink="/"><img src="assets\images\category\clothing.jpg"
                                style="height: 90px; width: 100px; padding-bottom: 1pc;">
                            </a>
                            <!-- <mat-card-content>
                                <p>Clothing</p>
                            </mat-card-content> -->
                        </mat-grid-tile>
                        <mat-grid-tile style=" border: 1px solid; height: 155.8438px; width: 149.797px;">
                            <a routerLink="/"><img src="assets\images\category\glasses1.jpg"
                                style="height: 90px; width: 100px; padding-bottom: 1pc;">
                            </a>
                            <!-- <mat-card-content>
                                <p>Glasses</p>
                            </mat-card-content> -->
                        </mat-grid-tile>
                    </mat-grid-list>
                </div>
            </mat-toolbar-row>
        </mat-toolbar>
    </div>
    <div style="width: 25pc; padding-top: 6pc;">
        <mat-grid-list cols="10pc" rowHeight="8.27pc" style="background-color:white">
            <mat-grid-tile style="height: 107px; width: 240; border: 1px;">
                <div style="width: 18pc;">
                    <mat-card class="example-card">
                        <mat-toolbar-row>
                            <div style="padding-top: 35px;">
                                <img mat-card-image style="height:74px; width:80px ;"
                                    src="\assets\images\product\pink.jpg">
                            </div>
                            <div style="padding-left: 30px; padding-top: 15px;">
                                <mat-card-actions>
                                    <button mat-button style="color: black;">Puma <br>Pink Ladies Dresses</button> <br>
                                    <button mat-button color="accent">$ 22.65 </button>
                                </mat-card-actions>
                            </div>
                        </mat-toolbar-row>
                    </mat-card>
                </div>
            </mat-grid-tile>
            <mat-grid-tile style="height: 107px; width: 240; border: 1px;">
                <div style="width: 18pc;">
                    <mat-card class="example-card">
                        <mat-toolbar-row>
                            <div style="padding-top: 35px;">
                                <img mat-card-image style="height:74px; width:80px ;"
                                    src="\assets\images\product\hat.jpg">
                            </div>
                            <div style="padding-left: 30px; padding-top: 15px;">
                                <mat-card-actions>
                                    <button mat-button style="color: black;">Puma <br>Pink Ladies Dresses</button> <br>
                                    <button mat-button color="accent">$ 22.65 </button>
                                </mat-card-actions>
                            </div>
                        </mat-toolbar-row>
                    </mat-card>
                </div>
            </mat-grid-tile>
            <mat-grid-tile style="height: 107px; width: 240; border: 1px;">
                <div style="width: 18pc;">
                    <mat-card class="example-card">
                        <mat-toolbar-row>
                            <div style="padding-top: 35px;">
                                <img mat-card-image style="height:74px; width:80px ;"
                                    src="\assets\images\product\shoe1.jpg">
                            </div>
                            <div style="padding-left: 30px; padding-top: 15px;">
                                <mat-card-actions>
                                    <button mat-button style="color: black;">Puma <br>Men White sneaker</button> <br>
                                    <button mat-button color="accent">$ 22.65 </button>
                                </mat-card-actions>
                            </div>
                        </mat-toolbar-row>
                    </mat-card>
                </div>
            </mat-grid-tile>
            <mat-grid-tile style="height: 107px; width: 240; border: 1px;">
                <div style="width: 18pc;">
                    <mat-card class="example-card">
                        <mat-toolbar-row>
                            <div style="padding-top: 35px;">
                                <img mat-card-image style="height:74px; width:80px ;"
                                    src="\assets\images\product\bboy.jpg">
                            </div>
                            <div style="padding-left: 30px; padding-top: 15px;">
                                <mat-card-actions>
                                    <button mat-button style="color: black;"><br>Baby Fashion</button> <br>
                                    <button mat-button color="accent">$ 22.65 </button>
                                </mat-card-actions>
                            </div>
                        </mat-toolbar-row>
                    </mat-card>
                </div>
            </mat-grid-tile>
            <mat-grid-tile style="height: 107px; width: 240; border: 1px;">
                <div style="width: 18pc;">
                    <mat-card class="example-card">
                        <mat-toolbar-row>
                            <div style="padding-top: 35px;">
                                <img mat-card-image style="height:74px; width:80px ;"
                                    src="\assets\images\product\galss44.jpg">
                            </div>
                            <div style="padding-left: 30px; padding-top: 15px;">
                                <mat-card-actions>
                                    <button mat-button style="color: black;"><br>Tom Ford Glasses</button> <br>
                                    <button mat-button color="accent">$ 22.65 </button>
                                </mat-card-actions>
                            </div>
                        </mat-toolbar-row>
                    </mat-card>
                </div>
            </mat-grid-tile>
            <mat-grid-tile style="height: 107px; width: 240; border: 1px;">
                <div style="width: 18pc;">
                    <mat-card class="example-card">
                        <mat-toolbar-row>
                            <div style="padding-top: 35px;">
                                <img mat-card-image style="height:74px; width:80px ;"
                                    src="\assets\images\product\jeans.jpg">
                            </div>
                            <div style="padding-left: 30px; padding-top: 15px;">
                                <mat-card-actions>
                                    <button mat-button style="color: black;"><br>Slim Trapered Jeans</button> <br>
                                    <button mat-button color="accent">$ 22.65 </button>
                                </mat-card-actions>
                            </div>
                        </mat-toolbar-row>
                    </mat-card>
                </div>
            </mat-grid-tile>
            <mat-grid-tile style="height: 107px; width: 240; border: 1px;">
                <div style="width: 18pc;">
                    <mat-card class="example-card">
                        <mat-toolbar-row>
                            <div style="padding-top: 35px;">
                                <img mat-card-image style="height:74px; width:80px ;"
                                    src="\assets\images\product\jeans.jpg">
                            </div>
                            <div style="padding-left: 30px; padding-top: 15px;">
                                <mat-card-actions>
                                    <button mat-button style="color: black;"><br>Slim Trapered Jeans</button> <br>
                                    <button mat-button color="accent">$ 22.65 </button>
                                </mat-card-actions>
                            </div>
                        </mat-toolbar-row>
                    </mat-card>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</mat-toolbar-row>
