
<ngb-carousel style="padding-right: 2.5pc; padding-top: 2pc;" >
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <a routerLink="/"><img src="assets\images\frontend\sliders\1.png" style="height: 497.344px; 
          width: 750px;"></a>
        </div>
        <div class="carousel-caption"></div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <a routerLink="/"><img src="assets\images\frontend\sliders\2.png" style="height: 497.344px; width: 750px;"></a>
        </div>
        <div class="carousel-caption"></div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <a routerLink="/"><img src="assets\images\frontend\sliders\3.png" style="height: 497.344px; width: 750px;"></a>
        </div>
        <div class="carousel-caption"></div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <a routerLink="/"><img src="assets\images\frontend\sliders\4.png" style="height: 497.344px; width: 809px;"></a>
        </div>
        <div class="carousel-caption"></div>
    </ng-template>
</ngb-carousel>
