


<!-- Newsletter Section Starts Here -->
<div class="newsletter-section bg-3">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-7 col-lg-6">
                <div class="newsletter-header">
                    <h3 class="title">Subscribe to our newsletter to get the latest news, updates, and special
                        offers</h3>
                </div>
            </div>
            <div class="col-xl-5 col-lg-6">
                <div class="subscribe-form">
                    <input type="email" placeholder="Your Email Address..." name="email">
                    <button type="button" class="subscribe-btn">Subscribe</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Newsletter Section Ends Here -->


