

<!-- <app-slider></app-slider> -->

<app-section></app-section>

<div style="height: 40px; padding-bottom: 35pc; " ></div>

<app-subscribe></app-subscribe>

<div style="height: 40px; padding-bottom: 3pc; " ></div>

<app-summer></app-summer>

<div style="height: 40px; padding-bottom: 3pc; " ></div>

<app-callaction></app-callaction>

<div style="height: 40px; padding-bottom: 2pc; " ></div>

<app-ourfeature></app-ourfeature>

<div style="height: 40px; padding-bottom: 5pc; " ></div>

<app-menswomens></app-menswomens>

<div style="height: 40px; padding-bottom: 3pc; " ></div>

<!-- <app-topselling></app-topselling> -->

<div style="height: 40px; padding-bottom: 2pc; " ></div>

