<div class="content" style="padding-left: 4pc;">
    <b>
        <h1>Summer 2021</h1>
    </b>
    <div fxLayout=" row-wrap" fxLayoutGap="20px grid">
        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
            <mat-card class="mat-elevation-z4">
                <div style="height: 290px; width: 230px;">
                    <img mat-card-image src="\assets\images\product\jeans.jpg">
                </div>
                <mat-card-content>
                    <P>Slim Trapered Rip Jeans</P>
                </mat-card-content>

            </mat-card>
        </div>

        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
            <mat-card class="mat-elevation-z4">
                <div style="height: 290px; width: 230px;">
                    <img mat-card-image src="\assets\images\product\pink.jpg">
                </div>
                <mat-card-content>
                    <P>Puma Pink Ladies Dresses</P>
                </mat-card-content>

            </mat-card>
        </div>
        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
            <mat-card class="mat-elevation-z4">
                <div style="height: 290px; width: 230px;">
                    <img mat-card-image src="\assets\images\product\jeans.jpg">
                </div>
                <mat-card-content>
                    <P>Slim Trapered Rip Jeans</P>
                </mat-card-content>

            </mat-card>
        </div>

        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
            <mat-card class="mat-elevation-z4">
                <div style="height: 290px; width: 230px;">
                    <img mat-card-image src="\assets\images\product\pink.jpg">
                </div>
                <mat-card-content>
                    <P>Puma Pink Ladies Dresses</P>
                </mat-card-content>

            </mat-card>
        </div>
    </div>
</div>