




<mat-grid-list cols="3" rowHeight="3:2" gutterSize="15px" style="margin:10px 50px 10px 50px;">
    <mat-grid-tile>
        <a routerLink="/"><img src="assets\images\frontend\banners_middle\1.jpg"></a>
    </mat-grid-tile>
    <mat-grid-tile>
      <a routerLink="/"><img src="assets\images\frontend\banners_middle\2.jpg"></a>
    </mat-grid-tile>
    <mat-grid-tile>
      <a routerLink="/"><img src="assets\images\frontend\banners_middle\3.jpg"></a>
    </mat-grid-tile>
    
  </mat-grid-list>
  
  

